{% extends "base.html" %}

{% block content %}
  <h1>Driver list:</h1>
  {% if driver_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
        </tr>
      </thead>
      <tbody class="list-unstyled">
        {% for driver in driver_list %}
          <tr>
            <td>
              <a href="{% url 'taxi:driver-detail' pk=driver.id %}">
                {{ driver.username }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Drivers aren't exist.</p>
  {% endif %}
{% endblock %}
