{% extends "base.html" %}

{% block content %}
  <h1>Driver username: {{ driver.username }}</h1>
  <h2>Cars:</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Model</th>
        <th>Manufacturer</th>
      </tr>
    </thead>
    <tbody>
      {% for car in driver.cars.all %}
        <tr>
          <td>{{ car.model }}</td>
          <td>{{ car.manufacturer.name }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">No cars assigned to this driver.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
